In [1]:
import numpy as np
import pandas as pd

In [11]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [52]:
df = pd.read_csv("test.csv", usecols= [0,2,3,4,5,6,7])

In [53]:
df.head()

,Date,Space Name,Space Type,Space Dwell,Space Name.1,Space Type.1,Space Dwell.1
0,Fri Dec 01 20:00:00 EST 2017,Centre Court,OTHER,2,Centre Corridor East 2,OTHER,4.0
1,Fri Dec 01 20:00:00 EST 2017,North Corridor West 1,OTHER,0,Hudson's Bay Corridor,OTHER,60.0
2,Fri Dec 01 20:00:10 EST 2017,Microsoft,STORE,110,,NaN,NaN
3,Fri Dec 01 20:00:10 EST 2017,Koodo,STORE,10,Emerald Court 1,OTHER,0.0
4,Fri Dec 01 20:00:20 EST 2017,North Corridor Central 1,OTHER,37,Fashion Corridor East 1,OTHER,0.0

In [54]:
df.columns.tolist()

['Date',
 ' Space Name',
 ' Space Type',
 ' Space Dwell',
 ' Space Name.1',
 ' Space Type.1',
 ' Space Dwell.1']

In [55]:
df.columns = ['date', 'space1','space1_type', 'space1_dwell', 'space2', 'space2_type', 'space2_dwell']

In [88]:
pd.to_datetime(df['date']).apply(lambda x: x.date()).tz_localize(None)

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [89]:
df.head()

,date,space1,space1_type,space1_dwell,space2,space2_type,space2_dwell
0,Fri Dec 01 20:00:00 EST 2017,Centre Court,OTHER,2,Centre Corridor East 2,OTHER,4.0
1,Fri Dec 01 20:00:00 EST 2017,North Corridor West 1,OTHER,0,Hudson's Bay Corridor,OTHER,60.0
2,Fri Dec 01 20:00:10 EST 2017,Microsoft,STORE,110,,NaN,NaN
3,Fri Dec 01 20:00:10 EST 2017,Koodo,STORE,10,Emerald Court 1,OTHER,0.0
4,Fri Dec 01 20:00:20 EST 2017,North Corridor Central 1,OTHER,37,Fashion Corridor East 1,OTHER,0.0

In [87]:
df['date'] = pd.to_datetime(df.date,format='%a %b %d %H:%M:%S tz %%Y')

ValueError: time data 'Fri Dec 01 20:00:00 EST 2017' does not match format '%a %b %d %H:%M:%S tz %%Y' (match)

%A	Weekday as locale’s full name.	Wednesday
%a	Weekday as locale’s abbreviated name.	Wed
%B	Month as locale’s full name.	June
%d	Day of the month.	06
%m	Month as a number.	6
%Y	Four-digit year.	2018
%y	Two-digit year.	18

In [56]:
df.head()

,date,space1,space1_type,space1_dwell,space2,space2_type,space2_dwell
0,Fri Dec 01 20:00:00 EST 2017,Centre Court,OTHER,2,Centre Corridor East 2,OTHER,4.0
1,Fri Dec 01 20:00:00 EST 2017,North Corridor West 1,OTHER,0,Hudson's Bay Corridor,OTHER,60.0
2,Fri Dec 01 20:00:10 EST 2017,Microsoft,STORE,110,,NaN,NaN
3,Fri Dec 01 20:00:10 EST 2017,Koodo,STORE,10,Emerald Court 1,OTHER,0.0
4,Fri Dec 01 20:00:20 EST 2017,North Corridor Central 1,OTHER,37,Fashion Corridor East 1,OTHER,0.0

In [60]:
df.columns.tolist()

['date',
 'space1',
 'space1_type',
 'space1_dwell',
 'space2',
 'space2_type',
 'space2_dwell']

In [63]:
df2 = df.groupby(['date', 'space1'])[["space1_dwell"]].sum().reset_index()

In [65]:
df2[:20]

,date,space1,space1_dwell
0,Fri Dec 01 20:00:00 EST 2017,Centre Court,2
1,Fri Dec 01 20:00:00 EST 2017,North Corridor West 1,0
2,Fri Dec 01 20:00:10 EST 2017,Koodo,10
3,Fri Dec 01 20:00:10 EST 2017,Microsoft,110
4,Fri Dec 01 20:00:20 EST 2017,Bell Mobility,35
5,Fri Dec 01 20:00:20 EST 2017,Davids Tea,18
6,Fri Dec 01 20:00:20 EST 2017,Emerald Court 2,0
7,Fri Dec 01 20:00:20 EST 2017,Nine West,49
8,Fri Dec 01 20:00:20 EST 2017,North Corridor Central 1,37
9,Fri Dec 01 20:00:30 EST 2017,Davids Tea,172
10,Fri Dec 01 20:00:30 EST 2017,Emerald Court 2,1
11,Fri Dec 01 20:00:30 EST 2017,Hudson's Bay Corridor Entrance,7
12,Fri Dec 01 20:00:30 EST 2017,Mac Cosmetics,2
13,Fri Dec 01 20:00:30 EST 2017,North Corridor Central 2,66
14,Fri Dec 01 20:00:30 EST 2017,North West Corridor,0
15,Fri Dec 01 20:00:30 EST 2017,Office Corridor,1
16,Fri Dec 01 20:00:30 EST 2017,Starbucks,0
17,Fri Dec 01 20:00:40 EST 2017,Centre Corridor East 1,0
18,Fri Dec 01 20:00:40 EST 2017,North Corridor West 1,5
19,Fri Dec 01 20:00:50 EST 2017,Emerald Court 2,17

In [66]:
del df2['space1']

In [67]:
df2.columns = ['date', 'y']

In [68]:
df2

                                date    y
0       Fri Dec 01 20:00:00 EST 2017    2
1       Fri Dec 01 20:00:00 EST 2017    0
2       Fri Dec 01 20:00:10 EST 2017   10
3       Fri Dec 01 20:00:10 EST 2017  110
4       Fri Dec 01 20:00:20 EST 2017   35
5       Fri Dec 01 20:00:20 EST 2017   18
6       Fri Dec 01 20:00:20 EST 2017    0
7       Fri Dec 01 20:00:20 EST 2017   49
8       Fri Dec 01 20:00:20 EST 2017   37
9       Fri Dec 01 20:00:30 EST 2017  172
10      Fri Dec 01 20:00:30 EST 2017    1
11      Fri Dec 01 20:00:30 EST 2017    7
12      Fri Dec 01 20:00:30 EST 2017    2
13      Fri Dec 01 20:00:30 EST 2017   66
14      Fri Dec 01 20:00:30 EST 2017    0
15      Fri Dec 01 20:00:30 EST 2017    1
16      Fri Dec 01 20:00:30 EST 2017    0
17      Fri Dec 01 20:00:40 EST 2017    0
18      Fri Dec 01 20:00:40 EST 2017    5
19      Fri Dec 01 20:00:50 EST 2017   17
20      Fri Dec 01 20:00:50 EST 2017    2
21      Fri Dec 01 20:00:50 EST 2017    1
22      Fri Dec 01 20:00:50 EST 2017  162
23      Fri Dec 01 20:00:50 EST 2017   11
24      Fri Dec 01 20:01:00 EST 2017    0
25      Fri Dec 01 20:01:00 EST 2017   40
26      Fri Dec 01 20:01:00 EST 2017    1
27      Fri Dec 01 20:01:10 EST 2017    4
28      Fri Dec 01 20:01:10 EST 2017    0
29      Fri Dec 01 20:01:10 EST 2017   28
...                              ...  ...
713498  Wed Dec 27 23:28:10 EST 2017    0
713499  Wed Dec 27 23:28:30 EST 2017    0
713500  Wed Dec 27 23:30:10 EST 2017   15
713501  Wed Dec 27 23:30:40 EST 2017    0
713502  Wed Dec 27 23:31:20 EST 2017    6
713503  Wed Dec 27 23:31:30 EST 2017    0
713504  Wed Dec 27 23:31:50 EST 2017    0
713505  Wed Dec 27 23:32:20 EST 2017    0
713506  Wed Dec 27 23:33:20 EST 2017    2
713507  Wed Dec 27 23:33:40 EST 2017    7
713508  Wed Dec 27 23:36:10 EST 2017    0
713509  Wed Dec 27 23:37:10 EST 2017    0
713510  Wed Dec 27 23:38:00 EST 2017   10
713511  Wed Dec 27 23:39:10 EST 2017    5
713512  Wed Dec 27 23:40:50 EST 2017    0
713513  Wed Dec 27 23:41:10 EST 2017    0
713514  Wed Dec 27 23:42:40 EST 2017    1
713515  Wed Dec 27 23:42:50 EST 2017    0
713516  Wed Dec 27 23:43:00 EST 2017    0
713517  Wed Dec 27 23:43:10 EST 2017    0
713518  Wed Dec 27 23:43:10 EST 2017    1
713519  Wed Dec 27 23:43:50 EST 2017    0
713520  Wed Dec 27 23:45:10 EST 2017    0
713521  Wed Dec 27 23:45:20 EST 2017    1
713522  Wed Dec 27 23:46:00 EST 2017    0
713523  Wed Dec 27 23:48:20 EST 2017    0
713524  Wed Dec 27 23:50:40 EST 2017    0
713525  Wed Dec 27 23:53:40 EST 2017    0
713526  Wed Dec 27 23:57:10 EST 2017    0
713527  Wed Dec 27 23:57:40 EST 2017    0

[713528 rows x 2 columns]

d = {'Date':'date', 'Space Name':'space1', 'Space Type':'space1_type', 'Space Dwell':'space1_dwell', 'Space Name.1':'space2', 'Space Type.1':'space2_type', 'Space Dwell.1':'space2_dwell'}

 df = df.rename(columns=lambda col: d.get((col))  in d)

df.head()

df2 = df.rename({'Date':'date', 'Space Name':'space1', 'Space Type':'space1_type', 'Space Dwell':'space1_dwell', 'Space Name.1':'space2', 'Space Type.1':'space2_type', 'Space Dwell.1':'space2_dwell'}, axis=1)

df2.head()

col_dict = {'Date':'date', 'Space Name':'space1', 'Space Type':'space1_type', 'Space Dwell':'space1_dwell', 'Space Name.1':'space2', 'Space Type.1':'space2_type', 'Space Dwell.1':'space2_dwell'}

df.columns = [col_dict.get(x, x) for x in df.columns]